function Main.main 2
    push constant 100
    push constant 50
    call Player.new 2
    pop local 0
    push local 0
    call Player.getPosition 1
    pop local 1
    push constant 0
    push local 1
    add
    pop pointer 1
    push that 0
    call Output.printInt 1
    pop temp 0
    push constant 1
    push local 1
    add
    pop pointer 1
    push that 0
    call Output.printInt 1
    pop temp 0
    push constant 0
    return